body {
  background-color: #DDD;
  font-family: sans-serif;
}
a{
  color:#333;
}
#configure{ display:none}
#app {
  width:75%;
  margin-left: 12.5%;
}
.editor{
  display:block;
  min-width:600px;
}
.editor ol{
  list-style-type:none;
  padding:0;
  margin:0;
}
.editor .left{
  width:300px;
  float: left;
}
.editor .functionList{
  vertical-align:top;
  background:#CCC;
  border:1px solid #000;
  padding:10px;
}
.editor input[type='number']{
  width:50px;
}
.editor .container h2{
  background:#000;
  padding:5px;
  margin:0;
  color:#FFF;
}

#graph {
  width: 160px;
  height: 144px;
  background:#CCC;
  border:0;
}

#analog {
  margin-top: 30px;
}
.editor .right{
  border:1px solid #000;
  background:#CCC;
  margin-left:310px;
  position:relative;
}
.editor .buttons{
  position:absolute;
  padding:0;
  bottom:0;
  width:100%;
}
.editor .programWrapper{
  overflow:auto;
  height: calc(100vh - 18em) !important ;
}
.editor .buttons button{
  color:#FFF;
  font-size:1.5em;
  padding:5px;
  height:40px;
  vertical-align:top;
  border:none;
  width:33.33%;
  display:inline-block;
  font-weight:bold;
  margin:0;
  background:#BBB;
}
.editor .buttons button:focus{
  outline-width: 0;
}

.editor .buttons .run{ background-color:#33D121 }
.editor .buttons .run:hover{ background-color:#2CAD1D }
.editor .buttons .run:active{ background-color:#218216 }

.editor .buttons .stop{ background-color:#888 }
.editor .buttons .stop:hover{ background-color:#444 }
.editor .buttons .stop:active{ background-color:#000 }

.editor .buttons .clear{ background-color:#BBB }
.editor .buttons .clear:hover{ background-color:#777 }
.editor .buttons .clear:active{ background-color:#444 }

.editor .buttons .disabled{ background-color:#BBB }
.editor .buttons .disabled:hover{ background-color:#BBB }

.editor.notReady .buttons .run{ background-color:#BBB }
.editor.notReady .buttons .stop{ background-color:#AAA }

.editor .program{
  overflow:hidden;
  min-width:300px;
  min-height:100%;
  vertical-align:top;
  padding:10px;
}
.editor .program .hint{
  text-align:center;
  border:1px dashed #888;
  display:block;
  padding:10px;
  min-height:1.5em;
  color:#CCC;
}
.editor .functionList .hint{
  display:none;
}
.editor .programWrapper{
  overflow:auto;
}
.editor .function{
  background: rgb(14,29,59);
  border: 1px solid hsl(219deg 22% 40%);
  padding: 10px;
  min-height: 1.5em;
  color: #FFF;;
}
.editor .program .function.running{
  background:#F00;
}
.editor .functionList .function{
  -webkit-box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.5);
  box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.5);
  margin:0 0 10px;
}
.editor .fn-repeat ol{
  min-height:2em;
  border:1px solid hsl(218deg 22% 40%);
}
.editor .dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
.editor .placeholder {
  position: relative;
  border:1px dashed #888;
  display:block;
  padding:10px;
  min-height:1.5em;
}
.editor ol.program li.function.active{
  background-color:#0F0;
}
body.dragging, body.dragging * {
  cursor: move !important;
}

.editor .extra{
}
.editor .extra button{
  display:block;
  margin:10px 0 10px 0;
  background: #FFF;
  border: 1px #888 solid;
  padding:3px;
  min-width:130px;
  text-align:center;
  height:3em;
  margin-top: -2em;
}
.editor .extra button:active{
  background: #DDD;
}
.editor .extra button:hover{
  background: #EEE;
}
.editor .extra button:focus{
  outline: 0;
}

.gb {
    display: inline-block;
    padding: 10px;
    background-color: #aaa;
    border-radius: 10px 10px 50px 10px;
}
.gb button {
    border: 0;
    background-color: #222;
}
.gb button:hover {
    cursor: pointer;
}
.outScreen {
    padding: 20px 40px;
    background-color: #444;
    border-radius: 10px 10px 30px 10px;
}
.gb:before {
    display: block;
    content: " ";
    width: 100%;
    border-top: solid 2px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}
.inScreen {
    width: 160px;
    height: 144px;
    background-color: #aaffaa;
}
.label {
    text-align: left;
    font-family: sans-serif;
}
.dpad {
    float: left;
    position: relative;
    padding: 5px;
    width: 60px; height: 60px;
    margin: 25px 20px 0 0;
    background-color: rgba(0,0,0,0.1);
    border-radius: 40px;
}
.dpad:before {
    display: block;
    content: " ";
    position: absolute;
    top: 25px; left: 25px;
    height: 20px; width: 20px;
    background-color: #222;
    
}
.dpad button {
    width: 20px; height: 20px;
    position: absolute;
    border-radius: 2px;
}

.dpad .left {
    top: 25px; left: 5px;
    border-radius: 2px 0 0 2px;
}
.dpad .up {
    top: 5px; left: 25px;
    border-radius: 2px 2px 0 0;
}
.dpad .down {
    bottom: 5px; left: 25px;   
    border-radius: 0 0 2px 2px;
}
.dpad .right {
    top: 25px; right: 5px;   
    border-radius: 0 2px 2px 0;
}
.centerButtons {
    float: left;
    margin: 110px 0 40px -10px;
}
.centerButtons button {
    background-color: #444;
    width: 30px; height: 10px;
    border-radius: 10px;
    transform:rotate(-30deg);
}
.actionButtons {
    display: inline-block;
    float: right;
    margin: 35px 0 0 0;
    padding: 5px;
    background-color: rgba(0,0,0,0.1);
    transform:rotate(-30deg);
    border-radius: 30px;
}
.actionButtons button {
    background-color: #cc4444;
    margin: 5px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
}